[tools]
go = "1.25.5"
golangci-lint = "2.7.2"


[tasks.build]
description = "build docker container"
run = "docker build . --file Dockerfile --tag github.com/drmaples/pr-lint-jira"

[tasks.lint]
description = "lint code"
run = "golangci-lint run -v ./..."

[tasks.test]
description = "run tests"
run = "go test ./..."

[tasks.all]
description = "run everything"
run = [{ tasks = ["test", "lint", "build"] }]
