name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  # gatekeeper job to know when CI is done. used by "Require status checks to pass before merging" setting
  ci_done:
    runs-on: ubuntu-latest
    needs:
      - build
      - test
    steps:
      - run: echo "all done"

  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: mise run all

  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        env:
          IS_CI: 'true'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
